/****** Object:  Database [Assignment2DB]    Script Date: 4/19/2026 9:08:22 PM ******/
CREATE DATABASE [Assignment2DB]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_2', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[CustomerData]    Script Date: 4/19/2026 9:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerData](
	[CustomerKey] [int] NOT NULL,
	[CustomerAlternateKey] [varchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleInitial] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[MaritalStatus] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
	[PhoneNumber] [varchar](50) NULL,
	[StreetAddress] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[StateProvinceCode] [varchar](50) NULL,
	[StateProvinceName] [nvarchar](50) NULL,
	[CountryCode] [varchar](50) NULL,
	[CountryName] [nvarchar](50) NULL,
	[PostCode ] [varchar](50) NULL,
 CONSTRAINT [PK_CustomerData] PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactTable]    Script Date: 4/19/2026 9:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactTable](
	[SalesOrderNumber] [varchar](50) NULL,
	[ProductKey] [int] NULL,
	[CustomerKey] [int] NULL,
	[DateKey] [int] NULL,
	[StoreKey] [int] NULL,
	[SalesAmount] [real] NULL,
	[Quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductData]    Script Date: 4/19/2026 9:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductData](
	[ProductKey] [int] NOT NULL,
	[ProductAlternateKey] [varchar](50) NULL,
	[ProductName] [varchar](50) NULL,
 CONSTRAINT [PK_ProductData] PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreData]    Script Date: 4/19/2026 9:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreData](
	[StoreKey] [int] NOT NULL,
	[StoreId] [varchar](50) NULL,
	[StoreCity] [nvarchar](50) NULL,
	[StoreRegion] [nvarchar](50) NULL,
	[StoreCountry] [nvarchar](50) NULL,
	[Territory] [nvarchar](50) NULL,
 CONSTRAINT [PK_StoreData] PRIMARY KEY CLUSTERED 
(
	[StoreKey] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeData]    Script Date: 4/19/2026 9:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeData](
	[DateKey] [int] NOT NULL,
	[FullDateAlternateKey] [datetime] NULL,
	[NameOfDay] [varchar](50) NULL,
	[Day] [int] NULL,
	[NameOfMonth] [varchar](50) NULL,
	[Month] [int] NULL,
	[Quarter] [int] NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_TimeData] PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactTable]  WITH CHECK ADD  CONSTRAINT [FK_FactTable_CustomerData] FOREIGN KEY([CustomerKey])
REFERENCES [dbo].[CustomerData] ([CustomerKey])
GO
ALTER TABLE [dbo].[FactTable] CHECK CONSTRAINT [FK_FactTable_CustomerData]
GO
ALTER TABLE [dbo].[FactTable]  WITH CHECK ADD  CONSTRAINT [FK_FactTable_ProductData] FOREIGN KEY([ProductKey])
REFERENCES [dbo].[ProductData] ([ProductKey])
GO
ALTER TABLE [dbo].[FactTable] CHECK CONSTRAINT [FK_FactTable_ProductData]
GO
ALTER TABLE [dbo].[FactTable]  WITH CHECK ADD  CONSTRAINT [FK_FactTable_StoreData] FOREIGN KEY([StoreKey])
REFERENCES [dbo].[StoreData] ([StoreKey])
GO
ALTER TABLE [dbo].[FactTable] CHECK CONSTRAINT [FK_FactTable_StoreData]
GO
ALTER TABLE [dbo].[FactTable]  WITH CHECK ADD  CONSTRAINT [FK_FactTable_TimeData] FOREIGN KEY([DateKey])
REFERENCES [dbo].[TimeData] ([DateKey])
GO
ALTER TABLE [dbo].[FactTable] CHECK CONSTRAINT [FK_FactTable_TimeData]
GO
